*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* .box{
    height: 800px;
    width: 100%;
    border: 2px solid black;
    position: relative; */

}
.box1{
   height: 60px; 
   width:100%;
   background-color: #e6007e;
   position: absolute;
   padding-left: 20px;
   padding-top: 20px; 
   padding-right: 25%;
   color: white;
   
}
.box2{
    height: 60px; 
    width:30%;
    background-color: #e6007e;
    color: white;
    position: absolute; 
    padding-left: 15px;
    padding-top: 20px; 
}
.box3{
    height: 60px; 
    width:25%;
    right: 0%;
    color: white;
    position: absolute; 
    padding-left: 50px;
    padding-top: 20px;
}
.box4{
    position: relative;
    padding-top: 60px;
    padding-left: 45%;

}
.box4{position: relative;}
.icon{
    position: absolute;
    top: 85px;
    right: 5px;
}
.icon i{
    padding-left: 30px;
    font-size: x-large;
}
.navbar2{
    position: relative;
}
.navbar2 ul li{
    list-style: none;
}


.grand{
    position: absolute;
    left: 250px;
    color: #e60000;
}
.eid{
    position: absolute;
    left:400px;
    color: #e6007e;
}
.Summer{
    position: absolute;
    left:550px
}
.Women{
    position: absolute;
    left: 650px;
}
.apparels{
    position: absolute;
    left:800px
}
.bags{
    position: absolute;
    left:950px
}
.kids{
    position: absolute;
    left:1050px
}
.Assessories{
    position: absolute;
    left:1150px
}
.fragrancies{
    position: absolute;
    left:1300px
}
.swiper-slide{background-size: cover;
    height: 300px;
    width: 90%;

}
